<table>
  <tbody>
    <tr>
      <td>
        <h1>COLOR</h1>
      </td>
      <td>
        <h1>SHAPE</h1>
      </td>
      <td>
        <h1>SIZE DEFAULT</h1>
      </td>
      <td>
        <h1>SIZE PILL</h1>
      </td>
      <td>
        <h1>SIZE FLAT</h1>
      </td>
      <td>
        <h1>ICON DEFAULT</h1>
      </td>
      <td>
        <h1>ICON PILL</h1>
      </td>
    </tr>
    <tr>
      <td>
        <tr>
          <td>
            <h2>backgroundColor="primary"<br>textColor="primary-comp"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="primary" textColor="primary-comp"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>backgroundColor="danger"<br>textColor="danger-comp"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="danger" textColor="danger-comp"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>backgroundColor="default"<br>textColor="default-comp"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="default" textColor="default-comp"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>backgroundColor="default"<br>textColor="none"<br>class="kit-accent-color--text"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="default" textColor="none" class="kit-accent-color--text"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>backgroundColor="tint"<br>textColor="primary-comp"<br>class="kit-accent-color--background-color"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="tint" textColor="primary-comp" class="kit-accent-color--background-color"}}Example button{{/kit-button}}
          </td>
        </tr>
      </td>
      <td>
        <tr>
          <td>
            <h2>shape="default"<br>border=true</h2>
            <br>
            {{#kit-button size="m" backgroundColor="primary" textColor="primary-comp" border=true}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>shape="pill"<br>border=false</h2>
            <br>
            {{#kit-button size="m" backgroundColor="primary" textColor="primary-comp" shape="pill" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>shape="square"<br>border=false</h2>
            <br>
            {{#kit-button size="m" backgroundColor="primary" textColor="primary-comp" shape="square" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
      </td>
      <td>
        <tr>
          <td>
            <h2>size="s"</h2>
            <br>
            {{#kit-button size="s" backgroundColor="primary" textColor="primary-comp"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="m"</h2>
            <br>
            {{#kit-button size="m" backgroundColor="primary" textColor="primary-comp"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="l"</h2>
            <br>
            {{#kit-button size="l" backgroundColor="primary" textColor="primary-comp"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="xl"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="primary" textColor="primary-comp"}}Example button{{/kit-button}}
          </td>
        </tr>
      </td>
      <td>
        <tr>
          <td>
            <h2>size="s"</h2>
            <br>
            {{#kit-button size="s" backgroundColor="primary" textColor="primary-comp" shape="pill" border=true}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="m"</h2>
            <br>
            {{#kit-button size="m" backgroundColor="primary" textColor="primary-comp" shape="pill" border=true}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="l"</h2>
            <br>
            {{#kit-button size="l" backgroundColor="primary" textColor="primary-comp" shape="pill" border=true}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="xl"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="primary" textColor="primary-comp" shape="pill" border=true}}Example button{{/kit-button}}
          </td>
        </tr>
      </td>
      <td>
        <tr>
          <td>
            <h2>size="s"</h2>
            <br>
            {{#kit-button size="s" backgroundColor="primary" textColor="primary-comp" shape="square" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="m"</h2>
            <br>
            {{#kit-button size="m" backgroundColor="primary" textColor="primary-comp" shape="square" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="l"</h2>
            <br>
            {{#kit-button size="l" backgroundColor="primary" textColor="primary-comp" shape="square" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="xl"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="primary" textColor="primary-comp" shape="square" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
      </td>

      <td>
        <tr>
          <td>
            <h2>size="s"</h2>
            <br>
            {{#kit-button size="s" backgroundColor="primary" textColor="primary-comp" icon="headphones"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="m"</h2>
            <br>
            {{#kit-button size="m" backgroundColor="primary" textColor="primary-comp" icon="headphones"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="l"</h2>
            <br>
            {{#kit-button size="l" backgroundColor="primary" textColor="primary-comp" icon="headphones"}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="xl"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="primary" textColor="primary-comp" icon="headphones"}}Example button{{/kit-button}}
          </td>
        </tr>
      </td>
      <td>
        <tr>
          <td>
            <h2>size="s"</h2>
            <br>
            {{#kit-button size="s" backgroundColor="primary" textColor="primary-comp" icon="headphones" shape="pill" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="m"</h2>
            <br>
            {{#kit-button size="m" backgroundColor="primary" textColor="primary-comp" icon="headphones" shape="pill" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="l"</h2>
            <br>
            {{#kit-button size="l" backgroundColor="primary" textColor="primary-comp" icon="headphones" shape="pill" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
        <tr>
          <td>
            <h2>size="xl"</h2>
            <br>
            {{#kit-button size="xl" backgroundColor="primary" textColor="primary-comp" icon="headphones" shape="pill" border=false}}Example button{{/kit-button}}
          </td>
        </tr>
      </td>
    </tr>
  </tbody>
</table>
