<table>
  <tbody>
    <th>Color</th>
    <th>Shape</th>
    <tr>
      <td>
        <h2>PRIMARY button</h2>
        <br>
        <br>
        {{#kit-button size="xl" backgroundColor="primary" textColor="primary-comp"}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>SECONDARY button</h2>
        <br>
        <br>
        {{#kit-button size="xl" backgroundColor="secondary" textColor="secondary-comp"}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>DANGER button</h2>
        <br>
        <br>
        {{#kit-button size="xl" backgroundColor="danger" textColor="danger-comp"}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>DEFAULT button</h2>
        <br>
        <br>
        {{#kit-button size="xl"}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>CUSTOM TEXT COLOR button</h2>
        <br>
        <br>
        {{#kit-button size="xl" backgroundColor="default" textColor="" class="kit-accent-color--text"}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>COLOR = PRIMARY COLOR button</h2>
        <br>
        <br>
        {{#kit-button size="xl" color="primary"}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>COLOR = DANGER COLOR button</h2>
        <br>
        <br>
        {{#kit-button size="xl" color="danger"}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>COLOR = SECONDARY COLOR button</h2>
        <br>
        <br>
        {{#kit-button size="xl" color="secondary"}}Hello World{{/kit-button}}
      </td>
      <td>
        <h2>DEFAULT SHAPE button</h2>
        <br>
        <br>
        {{#kit-button size="xl" backgroundColor="primary" textColor="primary"}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>PILL SHAPE button</h2>
        <br>
        <br>
        {{#kit-button size="xl" backgroundColor="primary" textColor="primary" buttonShape="pill" border=false}}Hello World{{/kit-button}}
        <br>
        <br>
        <h2>FLAT SHAPE button</h2>
        <br>
        <br>
        {{#kit-button size="xl" backgroundColor="primary" textColor="primary" buttonShape="square" border=false}}Hello World{{/kit-button}}
      </td>
    </tr>
  </tbody>
</table>
